<h1>餐廳後台</h1>
{{#if restaurants}}
<a href="/admin/restaurants/create">
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<br />
{{/if}}
<br />
<div>
  <a href="/admin/restaurants">Restaurants</a>
  |
  <a href="/admin/categories">Categories</a>
</div>
<br />
{{#if restaurants}}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each restaurants}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.Category.name}}</td>
          <td>
            <button type="button" class="btn btn-link">
              <a href="/admin/restaurants/{{this.id}}">
                Show
              </a>
            </button>
            <button type="button" class="btn btn-link">
              <a href="/admin/restaurants/{{this.id}}/edit">
                Edit
              </a>
            </button>
            <form
              action="/admin/restaurants/{{this.id}}?_method=DELETE"
              method="POST"
              style="display: inline;"
            >
              <button type="submit" class="btn btn-link">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
          <td>
            <form
              action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT"
              method="POST"
              style="display: inline;"
            >
              <button type="submit" class="btn btn-link">{{#if this.isAdmin}}set
                  as user{{else}}set as admin{{/if}}</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}